 <ion-header>
  <ion-navbar>
    <ion-title>
      Lista de incidencias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
   <ion-list>
     <ion-item>Entrada
       <button ion-button item-right (click)="entrada()">Entrada</button>
     </ion-item>

     <ion-item>Salida
       <button ion-button item-right (click)="salida()" >Salida</button>
     </ion-item>

     <ion-item>Otra incidencia
       <button ion-button item-right (click)="otraIncidencia()" >Salida</button>
     </ion-item>
    </ion-list>
</ion-content> 




