  <ion-header>
    <ion-navbar>
      <ion-title>
        Solicitar incidencia
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-toolbar>
         <ion-label>Empleado: {{detallesIncidencia.nombreEmpleado}}</ion-label>

       <ion-label>Empleado #: {{detallesIncidencia.numeroEmpleado}} </ion-label>
      
        <ion-label>Estatus: {{detallesIncidencia.status}}</ion-label>
        <ion-label>Fecha Entrega: {{now | date: 'dd/MM/yyyy' }} </ion-label>
        <ion-label>Tipo de incidencia: {{detallesIncidencia.tipoIncidencia}}</ion-label>
        <ion-label>Día de la incidencia:</ion-label>
    </ion-toolbar>
    
    <ion-list>
      <ion-item>
        <ion-label>Fecha Inicio:</ion-label>
         <ion-datetime monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          displayFormat="DDDD DD-MMM-YYYY" pickerFormat="YYYY MMMM DD"
          monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
          dayNames="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sabado"
          [(ngModel)]="data.month" 
          cancelText="Cancelar"
          doneText="OK"></ion-datetime>
      </ion-item>

       <ion-item>
        <ion-label>Hora de entrada:</ion-label>
        <ion-datetime displayFormat="h:mm A" cancelText="Cancelar" doneText="OK" pickerFormat="h mm A" [(ngModel)]="data.timeStarts"></ion-datetime>
      </ion-item>

       <ion-item>
        <ion-label>Fecha final:</ion-label>
        <ion-datetime monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          displayFormat="DDDD DD-MMM-YYYY" pickerFormat="YYYY MMMM DD"
          monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
          dayNames="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sabado"
          [(ngModel)]="data.month" 
          cancelText="Cancelar"
          doneText="OK"></ion-datetime>
      </ion-item>


    </ion-list>

    <button ion-button color="secondary" (click)="solicitar()" >Solicitar</button>
  </ion-content>
  
<style>
  ion-list:first-child {
    margin-top: 32px;
  }
  ion-list + ion-list {
    margin-top: 0;
  }
</style>