  <ion-header>
    <ion-navbar>
      <ion-title>
        Incidencia de salida
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-toolbar>
         <ion-label>Empleado: {{detallesIncidencia.nombreEmpleado}}</ion-label>

       <ion-label>Empleado #: {{detallesIncidencia.numeroEmpleado}} </ion-label>
      
        <ion-label>Estatus: {{detallesIncidencia.status}}</ion-label>
        <ion-label>Fecha Entrega: {{now | date: 'dd/MM/yyyy' }}  </ion-label>
        <ion-label>Tipo de incidencia: {{detallesIncidencia.tipoIncidencia}}</ion-label>
        <ion-label>Día de la incidencia:</ion-label>
    </ion-toolbar>
    
    <ion-list>

       <ion-item>
        <ion-label>Hora de salida:</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" cancelText="Cancelar" doneText="OK" [(ngModel)]="data.timeStarts"></ion-datetime>
      </ion-item>

    </ion-list>

    <button ion-button color="secondary" (click)="solicitar()" >Solicitar</button>
  </ion-content>
  
<style>
  ion-list:first-child {
    margin-top: 32px;
  }
  ion-list + ion-list {
    margin-top: 0;
  }
</style>