  
 <ion-header>
  <ion-navbar>
    <ion-title>
      Acceso a incidencia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>

  <ion-item>
    <ion-label stacked><ion-icon ios="ios-person" md="md-person"></ion-icon> Usuario:</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked><ion-icon ios="ios-key" md="md-key"></ion-icon> Contraseña:</ion-label>
    <ion-input type="password" value=""></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button ion-button color="secondary" (click)="alertaAcceso()" >Ingresar</button>
</div>
</ion-content> 
