 <ion-header>
  <ion-navbar>
       <!-- para poner un icono en la derecha o izquierda  -->
    <ion-buttons right>
      <button ion-button icon-only (click)="listaServ()">
         <ion-icon ios="ios-list" md="md-list" name="list"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Elija la incidencia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
   <ion-list>

    <!-- Permite ver las listas del array, solo que crea conflictos por el vento
      <ion-item *ngFor="let eligirIncidencia of eligirIncidencias">
          {{eligirIncidencia.incidencia}}
      <button ion-button icon-only item-right (click)="solicitar()">        
         {{eligirIncidencia.titulo}}
      </button>   
    </ion-item>
     -->

     <ion-item>Entrada
       <button ion-button item-right (click)="entrada()">Entrada</button>
     </ion-item>

     <ion-item>Salida
       <button ion-button item-right (click)="salida()" >Salida</button>
     </ion-item>

     <ion-item>Otra incidencia
       <button ion-button item-right (click)="otraIncidencia()" >Salida</button>
     </ion-item>
    </ion-list>
</ion-content> 




